:root {
  --main-color: rgb(255, 95, 85);
  --light-color: rgb(255, 255, 255);
  --med-color: rgb(184, 216, 216);
  --dark-color: rgb(79, 99, 103);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(255,255,255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.top.menu {
  background-color: var(--main-color);
}
